<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>{{ page.title }}</title>

  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="css/default.css" />
  
  <!-- JQuery -->
  <script src="js/jquery-1.4.2.min.js"></script>

</head>
<body>
  <div id="container">
    <div id="wrapper">
      
      <div id="header">
	<h1>hackfest</h1><h2> 2010</h2>
	<div id="nav">
	  <ul>
	    <li><a href="index.html">Home</a></li>
	    <li><a href="code.html">Code</a></li>
	    <li><a href="people.html">People</a></li>
	    <li><a href="wiki.html">Wiki</a></li>
	    <li><a href="docs.html">Docs</a></li>
	    <li><a href="blog.html">Blog</a></li>
	  </ul>
	</div><!-- /nav -->
      </div><!-- /header -->
      
      <div id="content">
	{{ content }}
      </div>
      
      <div id="footer">
	<a href="http://www.gnu.org/licenses/gpl-3.0.txt"
	   >&copy; 2010 hackfest</a>
      </div>
      
    </div><!-- /wrapper -->
  </div><!-- /container -->
  
</body>
</html>
